@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

.record-lst {

}

.record-item {
  cursor: pointer;
}

.tab-content {
  padding: 10px;
}

.record-obj {
  float: left;
}

td
{
text-align:left;
padding:10px;
}

th{
padding:5px;
background-color:#428bca;
color : white;
}

table, td, th{
   border : 1px solid #428bca;
}